@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');

*, *::before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*:focus {
	border: none;
	outline: none;
}

body {
	margin: 0;
	overflow: hidden;
	height: 100vh;
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'DM Mono', monospace;
}


.container {
	width: 95%;
	height: 90vh;
	text-align: center;	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#info {
	color: #f79862;
	font-size: 3rem;
	text-align: center;
	letter-spacing: 2px;
}
.timer {
	border: 3px solid #f79862;
	border-radius: 50%;
	width: 500px;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 4.5rem;
	color: #fc6600;
	position: relative;
}

.timer.end {
	border: 3px solid #ed2939;
	color: #ed2939;
	cursor: default;
}
.running::before {
	content: '';
	position: absolute;
	top: -3px;
	left: -3px;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	border-top: 6px solid #fc6600;
	animation: spin 1s infinite;
	transition: border 0.1s ease-in-out;
}

.running.stop::before {
	animation: none;
}

.actions {
	width: 500px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.btn {
	text-decoration: none;
	color: #f79862;
	cursor: pointer;
	margin: 0 0.8em;
	font-size: 4rem;
	background-color: transparent;
	border: none;
	border-radius: 50%;
}
.btn:hover {
	color: #fc6600;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media only screen and (max-width: 1250px) {
	html {
		font-size: 11px;
	}
	.timer {
    	width: 475px;
   		height: 475px;
  	}
  	.running::before {
  		width: 475px;
  		height: 475px;
  	}
  	.actions {
  		width: 475px;
  	}
}


@media only screen and (max-width: 800px) {
  	.timer {
    	width: 450px;
   		height: 450px;
  	}
  	.running::before {
  		width: 450px;
  		height: 450px;
  	}
  	.actions {
  		width: 450px;
  	}
}

@media only screen and (max-width: 480px) {
	html {
		font-size: 10px;
	}
  	.timer {
    	width: 350px;
   		height: 350px;
  	}
  	.running::before {
  		width: 350px;
  		height: 350px;
  	}
  	.actions {
  		width: 350px;
  	}
  	.info {
  		font-size: 2.5rem;
  	}
}

@media only screen and (max-width: 370px) {
  	.timer {
    	width: 300px;
   		height: 300px;
  	}
  	.running::before {
  		width: 300px;
  		height: 300px;
  	}
  	.actions {
  		width: 300px;
  	}
}



