*, *::before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	overflow: hidden;
	height: 100vh;
	background-color: lightgrey;
	display: flex;
	align-items: center;
	justify-content: center;
	font-style: monospace;
}


.container {
	width: 60%;
	height: 90vh;
	text-align: center;	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}

#info {
	color: #f79862;
	font-size: 4rem;
	text-align: center;
	letter-spacing: 2px;
}
.timer {
	border: 3px solid #f79862;
	border-radius: 50%;
	width: 500px;
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5rem;
	color: #813f0b;
	position: relative;
}


.running::before {
	content: '';
	position: absolute;
	top: -3px;
	left: -3px;
	width: 500px;
	height: 500px;
	border-radius: 50%;
	border-top: 5px solid #813f0b;
	animation: spin 1s infinite;
	transition: border 0.2s ease-in-out;
}

.running.stop::before {
	animation: none;
}

.actions {
	width: 450px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.btn {
	border: 2px solid #f79862;
	color: #813f0b;
	padding: 10px 40px;
	font-size: 1.4rem;
	background-color: transparent;
	transition: all .2s ease;
}
.btn:hover {
	background-color: #f79862;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

