@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap');

*, *::before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
*:focus {
	border: none;
	outline: none;
}

body {
	margin: 0;
	overflow: hidden;
	height: 100vh;
	background-color: #333;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'DM Mono', monospace;
}


.container {
	width: 95%;
	height: 90vh;
	text-align: center;	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

#info {
	color: #f79862;
	font-size: 3rem;
	text-align: center;
	letter-spacing: 2px;
}
.timer {
	border: 3px solid #f79862;
	border-radius: 50%;
	width: 40rem;
	height: 40rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 5rem;
	color: #fc6600;
	position: relative;
}

.timer.end {
	border: 3px solid red;
	color: red;
}
.running::before {
	content: '';
	position: absolute;
	top: -3px;
	left: -3px;
	width: 40rem;
	height: 40rem;
	border-radius: 50%;
	border-top: 5px solid #813f0b;
	animation: spin 1s infinite;
	transition: border 0.2s ease-in-out;
}

.running.stop::before {
	animation: none;
}

.btn {
	border: 2px solid #f79862;
	color: #fc6600;
	padding: 10px 40px;
	margin: 0 8px;
	font-size: 1.8rem;
	background-color: transparent;
	transition: all .2s ease;
}
.btn:hover {
	background-color: #f79862;
	color: #333;
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}



